
body{
		font-family:Verdana,sans-serif; 
		font-size: x-small;
		margin-left: 0.25in;
		margin-right: 0.25in
}
h1{
		font-family:Verdana,sans-serif;
		color:olive
}

td{
		font-family:Verdana,sans-serif;
		font-size: x-small;
		color:red
}

th{
		font-family:Verdana,sans-serif;
		font-size: x-small;
		color:white;
		background-color: #8080ff
}
