<!-- actualizamos nuestro html -->
<div class="container">
  <!-- Tabla Basica -->
  <table class="table table-bordered table-inverse">
    <!-- Titulos De Las Columnas -->
    <tr>
      <th>
        Owner Name
      </th>
      <th>
        Email
      </th>
      <th>
        Model
      </th>
      <th class="text-right">
        Purchase Price
      </th>
    </tr>

    <!-- For De Angular Que Recorre Nuestra Lista De Bikes -->
    <tr *ngFor="let bike of bikes">
      <td>
        {{bike.name}}
      </td> 
      <td>
        {{bike.email}}
      </td> 
      <td>
        {{bike.model}}
      </td> 
      <td class = "text-left">
        {{bike.purchasePrice}}
      </td> 
    </tr>
  </table>
</div>